.navigation {
    &__logo {
        height: 3rem;
    }

    &__list {
        margin: 0 3rem;
    }
    &__link {
        color: white;
    }
    &__item {
        list-style: none;
        margin-right: 1.5rem;
    }

    &__user {
        margin-left: auto;
        &-menu {
            &-logo {
                width: 2.8rem;
            }
        }

        &-login {
            color: white;
            margin-right: 1rem;
        }
        &-btn {
            border-radius: 1.5rem;
            padding: .3rem .8rem;
            font-weight: bold;
        }
    }
}